In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Calculating the variablity of a financial security is one measure of risk we can use.

In [5]:
sec_data=pd.read_csv('PG_BEI.DE_2007_2017.csv',usecols=[0,1,2],index_col='Date')

In [6]:
sec_data.tail()

                   PG     BEI.DE
Date
2017-03-17  89.605492  87.559509
2017-03-20  89.822121  87.440437
2017-03-21  89.792580  87.202278
2017-03-22  89.595642  86.983986
2017-03-23  89.379013  87.470207

Let's take the logarithmic returns because we will examine each company separately in the given time

In [7]:
sec_returns = np.log(sec_data / sec_data.shift(1))
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006545
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002203  0.000202
2007-01-09 -0.002517 -0.022858
...              ...       ...
2017-03-17 -0.004824  0.004430
2017-03-20  0.002415 -0.001361
2017-03-21 -0.000329 -0.002727
2017-03-22 -0.002196 -0.002506
2017-03-23 -0.002421  0.005574

[2574 rows x 2 columns]

PG

In [10]:
sec_returns['PG'].mean() #Daily Rate of Return

0.00025104897045418714

In [11]:
sec_returns['PG'].mean() * 250 #Anual Rate of Return

0.06276224261354679

In [12]:
sec_returns['PG'].std()

0.011161903265721099

In [13]:
sec_returns['PG'].std()*250**0.5

0.17648518671075153

Beiersdorf

In [15]:
sec_returns['BEI.DE'].mean() * 250

0.06730364292731754

In [ ]:
sec_returns['BEI.DE'].std()*250**0.5

In [ ]:
sec_returns[['PG','BEI.DE']].mean() * 250 #Doble brackets, two floats

### Covariance and Correlation

In [17]:
PG_var_annual=sec_returns['PG'].var()*250
PG_var_annual

0.031147021128328827

In [21]:
BEI_var_annual=sec_returns['BEI.DE'].var()*250
BEI_var_annual

0.05082751383901262

In [21]:
cov_matrix_annual=sec_returns.cov()*250
cov_matrix_annual

              PG    BEI.DE
PG      0.031147  0.010300
BEI.DE  0.010300  0.050828

In [22]:
correlation_matrix=sec_returns.corr()
correlation_matrix

              PG    BEI.DE
PG      1.000000  0.257455
BEI.DE  0.257455  1.000000

Note: This is NOT the correlation between the price of the two equities, but the returns. As an investor, return is what you care about, not the nominal price of a stock

Do not annualize the correlation table, it ot contains average daily values. It only shows the relation between the two variables, therefore we do not need to multiply by 250.

### Calculating Portfolio Risk

Our portfolio is conformed by Procter & Gambler and Beiersdorf. The portfolio risk can be defined as the sum of 2 components: the Variance of Securities nd the product of the covariances of the securities and std dev

In [3]:
weights= np.array([0.5,0.5])

Portfolio Variance

In [9]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov()*250,weights))#Dot product of two arrays
pfolio_var

0.025643487050316736

In [13]:
#Portfolio Volatility:
pfolio_vol = (pfolio_var)**0.5
pfolio_vol

0.16013583936869577

In [15]:
str(round(pfolio_vol,5)*100) + '%'

'16.014%'

### Calculating Diversifiable and Non-Diversifiable Risk of a Portfolio

Diversificable risk

In [22]:
dr= pfolio_var - (weights[0]**2*PG_var_annual) - (weights[1]**2*BEI_var_annual)
dr

0.0051498533084813735

Non-Diversifiable Risk

In [24]:
n_dr = pfolio_var - dr
n_dr

0.02049363374183536